<div class="left sidebar" id="sidebar">


            <div class="section">

                <div class="section-title"> Menu</div>

                <div class="section-content">

                    <ul class="nice-list">
                        <li>
                            <div class="left"><%= link_to 'New Staff Record', new_staff_path %></div>
                            <div class="right">>></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li></li>
                    </ul>

                </div>

            </div>

           <div class="section">

                <div class="section-title">Search for staffs</div>

                <div class="section-content">
                    <form method="post" action="">
                        <input type="text" class="text" size="28" /> &nbsp; <input type="submit" class="button" value="Submit" />
                    </form>
                </div>

            </div>

            

        </div>

        <div class="clearer">&nbsp;</div>