
<div class="main" id="main-two-columns-left">

        <div class="right" id="main-content">

            <div class="section">

                <div class="section-content">

                    <h1>Members of Staff</h1>

                    <%= render 'staff_list' %>  

                    <div class="content-separator"></div>

                    <div class="clearer">&nbsp;</div>

                </div>

            </div>

            <div class="clearer">&nbsp;</div>
            
        </div>

        <%=render 'staff_sidebar'%>

    </div>