<!--
<h1>Editing contact_person</h1>

<%#= render 'form' %>

<%#= link_to 'Show', @contact_person %> |
<%#= link_to 'Back', contact_people_path %>
-->
<div style="opacity: 1;" id="ajax-content-wrapper">
    <div id="sub">
        <div id="subtop">
            <%= render "home/sub_nav_admin"%>
        </div>                                                             
        <div id="subbottom" class="clearfix">
            <%= render "contact_sidebar"%>
            <div id="rightcolbox">
                <div id="subrightcol" style="padding-top:30px;">
                    <div id="subrightcol-bottom">
                        <h2>Edit Contact Personnel</h2> 
                        <%= render "form"%>
                    </div>
                </div>
            </div> 
        </div> 
    </div> <!-- END SUB -->
</div>