<div class="left sidebar" id="sidebar">


            <div class="section">

                <div class="section-title"> Admin Profile</div>

                <div class="section-content">

                    <ul class="nice-list">
                        <li>
                            <div class="left"><%= link_to 'Create Admin Profile', new_change_path %></div>
                            <div class="right">>></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li>
                            <div class="left"><%= link_to 'Edit Admin Profile', new_change_path %></div>
                            <div class="right">>></div>
                            <div class="clearer">&nbsp;</div>
                        </li>
                        <li></li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="clearer">&nbsp;</div>