    
<div style="opacity: 1;" id="ajax-content-wrapper">
    <div id="sub">
        <div id="subtop">
            <%= render "home/sub_nav_admin"%>
        </div>                                                                
        <div id="subbottom" class="clearfix">
            <%= render "clients/client_sidebar"%>
            <div id="rightcolbox">
                <div id="subrightcol" style="padding-top:30px;">
                    <div id="subrightcol-bottom">
                        <h2>Clientelle Listing</h2> 
                        <%= render "clients/edit_staff"%>
                    </div>
                </div>
            </div> 
        </div> 
    </div> <!-- END SUB -->
</div>
        <!-- END PAGE CONTENT -->