// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#client_list table {
        //border-collapse: collapse;
        border-bottom: thick solid 1px #000;
        border-right: thick solid 1px #244;
        width: 500px;
        margin-left: 30px;
}

#client_list table tr td {
        padding: 5px;
        vertical-align: top;
}


#client_list .list_description {
  width:        70%;
}

#client_list .list_description dl {
        margin: 0;
}

#client_list .list_description dt {
	color:        #244;
	font-weight:  normal;
	font-size:    normal;
}

#client_list .list_description dd {
        margin: 0;
}

#client_list .list_actions {
  font-size:   normal;
  text-align:   left;
  padding-left: 1em;
  vertical-align: bottom;
}

#client_list .list_line_even {
  background:    rgb(251, 183, 0);
}

#client_list .list_line_odd {
  background:   #fff;

}
#client_list .list_id_numbering {
  font-size:   normal;
  text-align:   left;
  padding-left: 1em;
  vertical-align: top;
}

#client_form table {
        border-collapse: collapse;
        width: 500px;
        margin-left: 30px;
        color: #000;
        font-weight:  normal;

}

#client_form table tr td {
        padding: 5px;
        vertical-align: top;
}
#client_list p {
     
        color: #000;
        font-weight:  normal;

}